.map-container {
    position: relative;
    height: 765px;
  }
  
  .coordinate-input {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: flex-end;
  }
  