.map-container {
    position: relative;
    height: 555px;
  }
  
  .map {
    height: 137%;
  }
  
  .bbox-coordinates {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 4px;
    z-index: 999;
  }
  
  .bbox-coordinates span {
    display: block;
    margin-bottom: 5px;
  }
  
  .bbox-coordinates span:first-child {
    font-weight: bold;
  }
  
  .bbox-coordinates span:last-child {
    margin-bottom: 0;
  }
  
  
  