.map2 {
  height: 907px;
  width: 100%;
}

.bbox-result {
  margin-top: 0px;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.bbox-result strong {
  font-weight: bold;
}

.bbox-coordinates {
  display: block;
  margin-top: 10px;
  font-family: monospace;
}


/* Responsif */
@media (max-width: 768px) {
  .map2 {
    height: 400px;
  }
}
